extends ../layout

prepend alerts
    if !error
        if resetToken && reset
            .alert.alert-success Your password was changed 
                | successfully. Head over to the 
                | #[a(href='/signin?' + redirectQuery) login page].
        else if resetToken
            .alert.alert-info You're almost done! You can now
                | enter a new password for your account.
        else if reset
            - success = 'Please check your mailbox to reset your password. The mail may have been caught by your spam filter.'
        else
            .alert.alert-info Don't worry, we got this! Enter 
                | your email address and we will send 
                | you a link to reset your password.

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Forgot password
                    form(method='post' action='/forgotpassword?' + redirectQuery)
                        if !resetToken
                            //- first step: enter email address
                            div.form-group
                                label(for='email') Email-Adress
                                input(type='email' placeholder='your@mail.com' name='email' value=formContents.email disabled=(reset ? 'disabled' : false) required).form-control#email
                        else
                            //- second step: enter password
                            input(type='hidden' value=resetToken name='resetToken')
                            div.form-group
                                label(for='newPassword') New password
                                input(type='password' placeholder='********' name='newPassword' aria-describedby='newPasswordHelp' value=formContents.newPassword disabled=(reset ? 'disabled' : false) required).form-control#newPassword
                                small.text-muted#currentPasswordHelp Please type in a new password. It must be more than 8 characters long and contain at least
                                    ul
                                        li two uppercase letters,
                                        li two lowercase letters,
                                        li two numbers and
                                        li one symbol
                            div.form-group
                                label(for='confirmPassword') Confirm new password
                                input(type='password' placeholder='********' name='confirmPassword' aria-describedby='confirmPasswordHelp' value=formContents.confirmPassword disabled=(reset ? 'disabled' : false) required).form-control#confirmPassword
                                small.text-muted#confirmPasswordHelp Please type in the new password again.
                        script(src='https://www.google.com/recaptcha/api.js' async defer)
                        .form-group
                            label(for='captcha') Captcha
                            div(class=(reset ? 'g-recaptcha-disabled' : null) data-sitekey=captchaPublicKey)#captcha.g-recaptcha
                        hr
                        button(type='submit' disabled=(reset ? 'disabled' : false)).btn.btn-primary Forgot password
            ul.mt-2
                li Need an account? #[a(href='/signup?' + redirectQuery) Sign up]
                li Remembered your password? #[a(href='/signin?' + redirectQuery) Sign in]
