extends ../layout

block alerts

block content
    .row.justify-content-center.my-5.mx-1
        div
            .card
                .card-body
                    h5.card-title Forgot password
                    if error
                        div(role='alert').alert.alert-danger #[i.fas.fa-times.mr-2] #{error}
                    if !error
                        if resetToken && reset
                            div(role='alert').alert.alert-success #[i.fas.fa-check.mr-2] Your password was changed successfully. Head over to the #[a(href='/signin?' + redirectQuery) login page].
                        else if resetToken
                            div(role='alert').alert.alert-info You're almost done! You can now enter a new password for your account.
                        else if reset
                            - success = 'Please check your mailbox to reset your password. The mail may have been caught by your spam filter.'
                        else
                            div(role='alert').alert.alert-info Don't worry, we got this! Enter your email address and we will send you a link to reset your password.
                    if success
                        div(role='alert').alert.alert-danger #[i.fas.fa-check.mr-2] #{success}
                    form(method='post' action='/forgotpassword?' + redirectQuery)
                        if !resetToken
                            //- first step: enter email address
                            .form-group
                                label(for='email') Email-Adress
                                input(type='email' placeholder='your@mail.com' name='email' value=formContents.email disabled=(reset ? 'disabled' : false) required).form-control#email
                        else
                            //- second step: enter password
                            input(type='hidden' value=resetToken name='resetToken')
                            .form-group
                                label(for='newPassword') New password
                                input(type='password' placeholder='********' name='newPassword' aria-describedby='newPasswordHelp' value=formContents.newPassword disabled=(reset ? 'disabled' : false) required).form-control#newPassword
                                .invalid-feedback#password-feedback
                                small.text-muted#currentPasswordHelp Please type in a new password. It must be at least eigth characters long and contain both an upper-case and lower-case letter and a number.
                            .form-group
                                label(for='confirmPassword') Confirm new password
                                input(type='password' placeholder='********' name='confirmPassword' aria-describedby='confirmPasswordHelp' value=formContents.confirmPassword disabled=(reset ? 'disabled' : false) required).form-control#confirmPassword
                                small.text-muted#confirmPasswordHelp Please type in the new password again.
                        script(src='https://www.google.com/recaptcha/api.js' async defer)
                        .form-group
                            label(for='captcha') Captcha
                            div(class=(reset ? 'g-recaptcha-disabled' : null) data-sitekey=captchaPublicKey)#captcha.g-recaptcha
                        hr
                        button(type='submit' disabled=(reset ? 'disabled' : false)).btn.btn-primary Forgot password
            ul.mt-2
                li Need an account? #[a(href='/signup?' + redirectQuery) Sign up]
                li Remembered your password? #[a(href='/signin?' + redirectQuery) Sign in]
    include password-validation
    +password-validation-script('newPassword')
