extends ../layout

prepend pageVariables
    - title = `${greenhellBranding ? 'GHML' : 'RML'} Launcher v${launcherVersion.version}`;

block content
    section.my-3
        h1 #{greenhellBranding ? 'GHML' : 'RML'} Launcher v#{launcherVersion.version}
        .row
            .col-sm-8.my-3
                .card: .card-body
                    .card-text.mod-readme!=launcherVersion.changelogHTML
                    p.card-text: small.text-muted #[i.far.fa-clock.mr-1] Changelog last updated on #{new Date(launcherVersion.updatedAt).toISOString().split('T')[0]}
            .col-sm-4.my-3
                ul.list-group
                    li.list-group-item #[i.fas.fa-hashtag] Version #[b=launcherVersion.version]
                    li.list-group-item #[i.fas.fa-clock] Released on #[b=new Date(launcherVersion.timestamp).toISOString().split('T')[0]]
                    if userIsAdmin
                        li.list-group-item #[i.fas.fa-pencil-alt] #[b: a(href=`/launcher/${launcherVersion.version}/edit`) Edit changelog]
                    li.list-group-item.download #[i.fas.fa-arrow-alt-circle-down.mr-2]
                        b: a(href=`/launcher/${launcherVersion.version}/download`) Download
                            if !launcherVersion.downloadUrl.startsWith('/launcher')
                                small: i.fas.fa-external-link-square-alt.mx-1
                ul.list-group.my-4
                    li.list-group-item.bg-primary #[i.far.fa-question-circle.fa-lg.mr-2.text-white] #[b: a(href='/discord' target='_blank').text-white.stretched-link.support-button Need support?]
    include ../support-button
    +support-button-modal()

