extends layout

block content
    section.my-5.mx-1
        div.card.mb-3
            div.card-body
                h5.card-title Add a mod version to '#{mod.title}'
                if error
                    div.alert.alert-danger=error
                form(method='post' action=`/mods/${mod.id}/addversion` enctype='multipart/form-data')
                    div.form-group
                        label(for='version') Mod version
                        input(type='text' placeholder='2.0' name='version' aria-describedby='versionHelp' maxlength='64' value=formContents.version required='required').form-control#version
                        small.text-muted#versionHelp The version you want to upload. Will be used in the version URL.
                    div.form-group
                        label(for='changelog') Readme
                        textarea(placeholder=' * Fixed this.\n * Added that.' name='changelog' aria-describedby='changelogHelp' required='required').form-control#changelog=formContents.changelog
                        small.text-muted#changelogHelp A changelog for this version.
                    div.form-group
                        label(for='downloadUrl') Download URL
                        input(type='url' placeholder='https://example.com/version-2.dll' name='downloadUrl' aria-describedby='downloadUrlHelp' value=formContents.downloadUrl).form-control#downloadUrl
                        small.text-muted#downloadUrlHelp Enter a link to the file / download page #[b or] upload a file below.
                    div.custom-file.my-3
                        label(for='file').custom-file-label Release binary file
                        input(type='file' name='file' aria-describedby='fileHelp').custom-file-input#file
                        small.text-muted#fileHelp Upload a file #[b or] enter a link to the file / download page above.
                    input(type='submit' value='Submit mod version').mt-3.btn.btn-success
        ul
            li #[a(href=`/mods/${mod.id}`) Go back to the mod's page]
