extends layout

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Change your password
                    if error
                        div.alert.alert-danger=error
                    if success
                        div.alert.alert-success=success
                    form(method='post' action='/account/password')
                        div.form-group
                            label(for='currentPassword') Current password
                            input(type='password' placeholder='********' name='currentPassword' aria-describedby='currentPasswordHelp' value=formContents.currentPassword).form-control#currentPassword
                            small.text-muted#currentPasswordHelp Please type in your current password to proove that it's you.
                        div.form-group
                            label(for='newPassword') New password
                            input(type='password' placeholder='********' name='newPassword' aria-describedby='newPasswordHelp' value=formContents.newPassword).form-control#newPassword
                            small.text-muted#currentPasswordHelp Please type in a new password. It must be more than 8 characters long and contain at least
                                ul
                                    li two uppercase letters,
                                    li two lowercase letters,
                                    li two numbers and
                                    li one symbol
                        div.form-group
                            label(for='confirmPassword') Confirm new password
                            input(type='password' placeholder='********' name='confirmPassword' aria-describedby='confirmPasswordHelp' value=formContents.confirmPassword).form-control#confirmPassword
                            small.text-muted#confirmPasswordHelp Please type in the new password again.
                        button(type='submit').btn.btn-primary Change password
            ul
                li Don't want to change your password? #[a(href='/account') Go back]
            