extends layout

block content
    section.my-5.mx-1
        div.card.mb-3
            div.card-body
                h5.card-title= 'Edit ' + mod.title
                if error
                    div.alert.alert-danger=error
                form(method='post' action='/mods/' + mod.id + '/edit').big-form
                    div.form-group
                        label(for='title') Title
                        input(type='text' placeholder='Mod Title' name='title' maxlength='255' value=formContents.title required).form-control#title
                    div.form-group
                        label(for='id') ID
                        input(type='text' placeholder='mod-identifier' name='id' aria-describedby='idHelp' maxlength='64' value=mod.id disabled='disabled').form-control#id
                        small.text-muted#idHelp This text will be used in the mod url.
                    div.form-group
                        label(for='description') Description
                        input(type='text' placeholder='Short description for your mod.' name='description' maxlength='255' value=formContents.description required).form-control#description
                    div.form-group
                        label(for='banner') Banner image URL
                        input(type='url' placeholder='https://example.com/imagename.png' name='bannerImageUrl' aria-describedby='bannerHelp' value=formContents.bannerImageUrl).form-control#banner
                        small.text-muted#bannerHelp This image will be used when displaying your mod in the mods directory.
                    div.form-group
                        label(for='category') Category
                        select(name='category' required).custom-select#category
                            option(value='utility' selected=(formContents.category === 'utility')) Utility
                            option(value='optimization' selected=(formContents.category === 'optimization')) Optimization
                    div.form-group
                        label(for='readme-input') Readme
                        textarea(placeholder='Explain what your mod is about and how to use it using markdown.' name='readme' required).form-control#readme-input=formContents.readme
                    div.form-group
                        label(for='repository') Source code repository URL
                        input(type='url' placeholder='https://github.com/path/to/repository' name='repositoryUrl' aria-describedby='repositoryHelp' value=formContents.repositoryUrl).form-control#repository
                        small.text-muted#repositoryHelp Can be left out.
                    div.form-group
                        label(for='originalWebsite') Original website URL
                        input(type='url' placeholder='https://example.com/mymod/' name='originalWebsiteUrl' aria-describedby='originalWebsiteHelp' value=formContents.originalWebsiteUrl).form-control#originalWebsite
                        small.text-muted#originalWebsiteHelp Can be left out.
                    input(type='submit' value='Submit mod').mt-3.btn.btn-success
    section.my-5.mx-1
        div.card.mb-3.border-danger
            div.card-body
                h5.card-title Danger zone
                form(method='post' action='/mods/' + mod.id + '/edit').big-form
                    div.form-group
                        label(for='changeOwner') Transfer this mod to another owner
                        input(type='text' placeholder='username' name='changeOwner' aria-describedby='changeOwnerHelp' value='').form-control#changeOwner
                        small.text-muted#changeOwnerHelp Enter the username of the new owner.
                    input(type='submit' value='Transfer mod').btn.btn-danger
                hr
                form(method='post' action='/mods/' + mod.id + '/edit').big-form
                    div.form-group
                        label(for='deleteMod') Delete this mod
                        input(type='text' placeholder=mod.id name='deleteMod' aria-describedby='deleteModHelp' value='').form-control#deleteMod
                        small.text-muted#deleteModHelp Enter the id of this mod to delete it. Mod deletion is irreversable.
                    input(type='submit' value='Delete mod').btn.btn-danger
        ul
            li #[a(href=`/mods/${mod.id}`) Go back to the mod's page]
            li Want to publish an update for this mod? #[a(href=`/mods/${mod.id}/addversion`) Add a new version]
