doctype html

block pageVariables
  -
    pageMeta = {
      title: `${title} - ${newBranding ? 'RaftModding' : 'Raft-Mods'}`,
      description: newBranding ? 
        'Welcome to RaftModding! The largest community for mods, scripts and utilities for Raft!\n\nWe are a modding community that has created a Modloader to make gameplay more exciting, so if you want to play with some mods or create your own then visit our website!\n\nRaft Modding groups all the mods, bugfixes, utilities and scripts to download to modify Raft on PC!\n\n(*) Mods allow you to modify your Raft by adding new and varied features, more or less crazy.' :
        'RaftModding aims to extend the survival game Raft by adding modifications. This site provides a sorted overview over everything you need for modding your game.',
      tags: 'RaftModding, Raft-Modding, Raft Modding, Raft, Modding, Mods, Mods Raft, Raft Mods, raftmods, Raft-Mods, rml, RaftModLoader, ModLoader, Unity, Unity3D, CSharp, C#, Sharp, C++, Modifications, Game, HyTeKGames, traxam, Survival',
      publisher: 'traxam, TeKGameR',
      openGraph: {
        url: baseUrl + currentUrl,
        type: 'website',
        image: `${baseUrl}/images/${newBranding ? 'raftmodding.png' : 'logo_square.png'}`,
      }
    }

html(lang='en')
  head
    title=pageMeta.title
    link(rel='stylesheet' href='/assets/fontawesome/css/all.min.css')

    //- SEO tags 
    block seoTags
      meta(property='og:url' content=pageMeta.openGraph.url)
      meta(property='og:type' content=pageMeta.openGraph.type)
      meta(property='og:title' content=pageMeta.title)
      meta(property='og:description' content=pageMeta.description)
      meta(property='og:image' content=pageMeta.openGraph.image)
      meta(property='og:tags' content=pageMeta.tags)
      meta(property='og:keywords' content=pageMeta.tags)

      meta(name='description' content=pageMeta.description)
      meta(name='category' content=pageMeta.tags)
      meta(name='distribution' content='global')
      meta(name='keywords' content=pageMeta.tags)
      meta(name='identifier-url' content=baseUrl)
      meta(name='language' content='English')
      meta(http-equiv='content-language' content='en')
      meta(name='revisit-after' content='1 days')

      meta(name='author' content=pageMeta.publisher)
      meta(name='publisher' content=pageMeta.publisher)
      meta(name='copyright' content='RaftModding')
      meta(name='reply-to' content='contact@raftmodding.com')

    //- bootstrap
    script(src='/assets/jquery/jquery.slim.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    
    //- custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/favicon.ico')

    //- lazy image loading
    script(src='/scripts/lazy.js')

    //- cookie banner
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/animation.css')
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/base.css')
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/layout.css')
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/media.css')
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/themes/classic.css')
    link(rel='stylesheet' type='text/css' href='/assets/cookieconsent/styles/themes/edgeless.css')
    script(src='/assets/cookieconsent/cookieconsent.js')
    script.
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#edeff5",
            "text": "#838391"
          },
          "button": {
            "background": "#4b81e8"
          }
        },
        "theme": "classic",
        "position": "bottom-right",
        "content": {
          "message": "We use cookies and other technologies to analyse traffic and enhance your experience.",
          "href": "/privacy"
        }
      })});
    // Global site tag (gtag.js) - Google Analytics
    script(async src=`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{googleAnalyticsId}');
  body.d-flex.flex-column.justify-content-between
    include navigation
    .container
      section(style='top: 80px;').my-3.sticky-top.alerts
        block alerts
          if error
              div(role='alert').alert.alert-danger #[i.fas.fa-times.mr-2] #{error}
          if success
              div(role='alert').alert.alert-success #[i.fas.fa-check.mr-2] #{success}
      block content
    include footer
    include donation/modal
