doctype html
html(lang='en')
  head
    title= (title + ' - Raft-Mods')
    link(rel='stylesheet' href='/assets/fontawesome/css/all.min.css')

    //- SEO tags 
    block seoTags
      meta(property='og:url' content=baseUrl+currentUrl)
      meta(property='og:type' content='website')
      meta(property='og:title' content=`${title} - Raft-Mods`)
      meta(property='og:description' content='RaftModding aims to extend the survival game Raft by adding modifications. This site provides a sorted overview over everything you need for modding your game.')
      meta(property='og:image' content=`${baseUrl}/images/logo_square.png`)

      meta(name='description' content='RaftModding aims to extend the survival game Raft by adding modifications. This site provides a sorted overview over everything you need for modding your game.')

    //- bootstrap
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    
    //- custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')

    //- cookie banner
    link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
    script.
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#edeff5",
            "text": "#838391"
          },
          "button": {
            "background": "#4b81e8"
          }
        },
        "theme": "classic",
        "position": "bottom-right",
        "content": {
          "message": "We use cookies and other technologies to analyse traffic and enhance your experience.",
          "href": "/privacy"
        }
      })});
    // Global site tag (gtag.js) - Google Analytics
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-139351136-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-139351136-1');
  body.bg-light.d-flex.flex-column.justify-content-between
    include navigation
    div.container
      block content
    include footer
