extends layout

//- overwrite og tags for mod pages
block openGraph
    meta(property='og:url' content=baseUrl+currentUrl)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${title} - Raft-Mods`)
    meta(property='og:description' content=mod.description)
    meta(property='og:image' content=`${baseUrl}/images/logo_square.png`)

block content
    section.my-3
        h1=mod.title
        p(style='max-width: 100%;')=mod.description
    section.my-3
        div.row
            div.col-sm-9.my-3
                block modContent
            div.col-sm-3.my-3
                ul.list-group
                    li.list-group-item
                        a(href=`/mods/${mod.id}`)
                            b=mod.title
                    li.list-group-item
                        i.fas.fa-list-ul
                        |  This is a #[b=mod.category] mod.
                    li.list-group-item
                        i.fas.fa-hashtag
                        |
                        | Version
                        |
                        span=versions[0].version
                        br
                        small
                            i.fas.fa-angle-right
                            | 
                            a(href=`/mods/${mod.id}/versions`) Versions and changelogs
                    li.list-group-item
                        i.fas.fa-user-circle
                        |
                        | by
                        |
                        span
                            a(href=`/user/${mod.author}`)=mod.author
                    if mod.originalWebsiteUrl
                        li.list-group-item
                            i.fas.fa-globe
                            | 
                            | Original
                            | 
                            a(href=mod.originalWebsiteUrl)
                                | website
                                small
                                    i.fas.fa-external-link-square-alt.mx-1
                    if mod.repositoryUrl
                        li.list-group-item
                            i.fas.fa-code-branch
                            | 
                            | Source code
                            | 
                            a(href=mod.repositoryUrl)
                                | repository
                                small
                                    i.fas.fa-external-link-square-alt.mx-1
                    if userIsAdmin || userIsOwner
                        li.list-group-item
                            i.fas.fa-pencil-alt
                            | 
                            a(href=`/mods/${mod.id}/edit`) Edit this mod
                        li.list-group-item
                            i.fas.fa-plus
                            | 
                            a(href=`/mods/${mod.id}/addversion`) Add a new version
                    li.list-group-item
                        i.fas.fa-arrow-alt-circle-down.mr-2
                        a(href='/mods/' + mod.id + '/download') Download this mod
                            small.float-right.mx-1
                                span(title=`${versions[0].downloadCount} downloads`).badge.badge-pill.badge-secondary=versions[0].downloadCount
