extends layout

block content
    div.index-section
        h1=mod.title
        p(style='max-width: 100%;')=mod.description
        div
            div#mod-overview
                li
                    h4 Category
                    span=mod.category
                li
                    h4 Version
                    span=mod.version
                li
                    h4 Author
                    span=mod.author
                if userIsOwner
                    li
                        h4 Only you can
                        span
                            a(href='/mods/' + mod.id + '/edit') edit this mod
                li.download
                    h4 Download via
                    span
                        a(href='/mods/' + mod.id + '/download') #{mod.downloadUrl.startsWith('/') ? 'this' : 'external'} site
            div#readme
                div !{mod.readmeMarkdown}