extends layout

block content
    div.index-section
        h1=mod.title
        p(style='max-width: 100%;')=mod.description
        div
            div#mod-overview
                li
                    i.fas.fa-list-ul
                    |
                    span=' ' + mod.category
                li
                    i.fas.fa-hashtag
                    |
                    | Version
                    |
                    span=mod.version
                li
                    i.fas.fa-user-circle
                    |
                    | by
                    |
                    span
                        a(href=`/user/${mod.author}`)=mod.author
                if userIsOwner
                    li
                        i.fas.fa-pencil-alt
                        |
                        | Only you can
                        |
                        span
                            a(href='/mods/' + mod.id + '/edit') edit this mod
                li.download
                    i.fas.fa-arrow-alt-circle-down
                    |
                    | Download via
                    |
                    span
                        a(href='/mods/' + mod.id + '/download') #{mod.downloadUrl.startsWith('/') ? 'this' : 'external'} site
            div#readme
                div !{mod.readmeMarkdown}