extends layout

block content
    div.index-section
        h1='Version ' + version.rmlVersion
        div
            div#mod-overview
                li
                    i.fas.fa-hashtag
                    |
                    | ModLoader version
                    |
                    span=version.rmlVersion
                li
                    i.fas.fa-flag
                    |
                    | for Raft
                    |
                    span=version.raftVersion
                li
                    i.fas.fa-clock
                    |
                    | from
                    |
                    span=new Date(version.timestamp).toISOString().split('T')[0]
                if userIsAdmin
                    li
                        i.fas.fa-pencil-alt
                        |
                        | Only admins can
                        |
                        span
                            a(href='/loader/' + version.rmlVersion + '/edit') edit this version
                li.download
                    i.fas.fa-arrow-alt-circle-down
                    |
                    span
                        a(href=`/loader/${version.rmlVersion}/download`) Download
            div#readme
                div !{version.readmeMarkdown}