extends layout

block content
    section.my-3
        h1='Version ' + version.rmlVersion
    section.my-3
        div.row
            div.col-sm-8.my-3
                div.card
                    div.card-body
                        div.card-text#mod-readme!=version.readmeMarkdown
                        p.card-text
                            small.text-muted Changelog last updated on #{new Date(version.updatedAt).toISOString().split('T')[0]}
            div.col-sm-4.my-3
                ul.list-group
                    li.list-group-item
                        i.fas.fa-hashtag
                        | 
                        | ModLoader version
                        | 
                        b=version.rmlVersion
                    li.list-group-item
                        i.fas.fa-flag
                        |
                        | for Raft
                        |
                        b=version.raftVersion
                    li.list-group-item
                        i.fas.fa-clock
                        |
                        | Released on
                        |
                        b=new Date(version.timestamp).toISOString().split('T')[0]
                    if userIsAdmin
                        li.list-group-item
                            i.fas.fa-pencil-alt
                            |
                            | Only admins can
                            |
                            b
                                a(href='/loader/' + version.rmlVersion + '/edit') edit this version
                    li.list-group-item.download
                        i.fas.fa-arrow-alt-circle-down
                        | 
                        b
                            a(href=`/loader/${version.rmlVersion}/download`) Download

