extends layout

block content
    section.my-3
        h1=`${user.username}'s mods`
    section.my-3
        if authoredMods.length === 0
            i=`${user.username} hasn't published any mods yet.`
        else
            div.card-columns
                each mod in authoredMods
                    div.card
                        img(src=(mod.bannerImageUrl || '/images/Screenshot_14.png') alt=('banner image for the ' + mod.title + ' mod')).card-img-top
                        div.card-body
                            h5.card-title
                                | #{mod.title}
                                span.badge.badge-pill.badge-secondary.float-right=mod.version
                            p.card-text=mod.description
                            a(href='/mods/' + mod.id).btn.btn-primary View mod
