mixin mod-card(mod, currentBundle)
    div(class=(mod.deletion ? 'to-be-deleted' : '')).card.mod-card
        img(src='/images/banner-default.jpg', data-src=mod.bannerImageUrl, alt=`banner image for the ${mod.title} mod`).card-img-top.lazy-image
        .card-body
            h5.card-title
                b #{mod.title} #[small.d-inline-block.text-muted by #[a(href=`/user/${mod.author}`).stretched-link-exception=mod.author]]
            p.card-text=mod.description
        .pt-0.pb-3.card-footer.border-0.d-flex.justify-space-between
            .mr-auto
                a(href='/mods/' + mod.id).btn.btn-primary.mr-2.stretched-link View mod
                if loggedIn && enableBundlesSection
                    a(href='/bundle/addmod?mod=' + mod.id title='Add this mod to a bundle').btn.btn-outline-secondary.btn-sm.mr-1.stretched-link-exception #[i.fas.fa-cubes]
                    if currentBundle && (userIsBundleOwner || userIsAdmin)
                        a(href=`/bundle/${currentBundle.id}/removemod?mod=${mod.id}` title='Remove this mod from this bundle').btn.btn-outline-danger.btn-sm.mr-1 #[i.fas.fa-minus.mr-1] Remove
            if mod['mod-versions'] && mod['mod-versions'].length > 0 && mod['mod-versions'][0].minRaftVersion
                span.align-self-center
                    include version-compatibility-badge
                    +version-compatibility-badge(mod['mod-versions'][0], currentRaftVersion, true)
            if mod.deletion
                span.align-self-center
                    span(title='This mod is scheduled for deletion and not publicly visible anymore.').badge.badge-pill.badge-warning.mx-1 Deletion scheduled
