extends layout

block modContent
    .card
        if mod.bannerImageUrl
            img(src='/images/banner-default.jpg', data-src=mod.bannerImageUrl, alt=`banner for the ${mod.title} mod`).card-img-top.lazy-image
        .card-body
            .card-text.mod-readme!=mod.readmeMarkdown
            p.card-text
                small.text-muted #[i.far.fa-clock.mr-1] Description last changed on #{new Date(mod.updatedAt).toISOString().split('T')[0]}
        if versions && versions.length > 0 && versions[0].hashes
            .card-footer
                h6 File Hashes for #[span.badge.badge-info.mx-1 Version #{versions[0].version}]
                each val, key in versions[0].hashes
                    .row
                        .col-sm-2 #{key}:
                        .col-10
                            span.badge.badge-secondary.mx-1.text-wrap.mw-100 #{val}
