mixin version-compatibility-badge(version, currentRmlVersion, asLink)
    -
        var compat = {
            badge: 'badge-',
            text: '',
            tooltip: `Mod version ${version.version}\n\nCompatible with ${greenhellBranding ? 'Green Hell' : 'Raft'} Update ${version.minRaftVersion.version}`,
        };
        if (version.maxRaftVersion) {
            compat.tooltip += ' - ' + version.maxRaftVersion.version;
        }
        compat.tooltip += '\n    ';
        if (version.maxRaftVersionId == currentRaftVersion.id) {
            compat.badge += 'success';
            compat.text = 'Up to date';
            compat.tooltip += `This version has been tested on the latest ${greenhellBranding ? 'Green Hell' : 'Raft'} update and should work properly.`;
        } else if (!version.definiteMaxRaftVersion) {
            compat.badge += 'warning';
            compat.text = 'Untested';
            compat.tooltip += `This version has not yet been tested on the lastest ${greenhellBranding ? 'Green Hell' : 'Raft'} update.`;
        } else {
            compat.badge += 'danger';
            compat.text = 'Outdated';
            compat.tooltip += `This version is not supported on the latest ${greenhellBranding ? 'Green Hell' : 'Raft'} update.`;
        }
    if asLink
        a(href=`/mods/${version.modId}/versions` title=compat.tooltip class=compat.badge).badge.badge-pill.mx-1.stretched-link-exception=compat.text
    else
        span(title=compat.tooltip class=compat.badge).badge.badge-pill.mx-1=compat.text
