mixin version-compatibility-badge(version, currentRmlVersion, asLink)
    -
        var compat = {
            badge: 'badge-',
            text: '',
            tooltip: `Mod version ${version.version}\n\nCompatible with RaftModLoader ${version.minCompatibleRmlVersion}`,
        };
        if (version.maxCompatibleRmlVersion) {
            compat.tooltip += ' - ' + version.maxCompatibleRmlVersion;
        }
        compat.tooltip += '\n    ';
        if (version.maxCompatibleRmlVersion == currentRmlVersion) {
            compat.badge += 'success';
            compat.text = 'Compatible';
            compat.tooltip += 'This version has been tested on the latest RML release and should work properly.';
        } else if (!version.definiteMaxCompatibleRmlVersion) {
            compat.badge += 'warning';
            compat.text = 'May be compatible';
            compat.tooltip += 'This version has not yet beed tested on the lastest RML release.';
        } else {
            compat.badge += 'danger';
            compat.text = 'Incompatible';
            compat.tooltip += 'This version is not supported on the latest RML release.';
        }
    if asLink
        a(href=`/mods/${version.modId}/versions` title=compat.tooltip class=compat.badge).badge.badge-pill.mx-1=compat.text
    else
        span(title=compat.tooltip class=compat.badge).badge.badge-pill.mx-1=compat.text
