extends ../layout

block content
    section.my-5.mx-1
        div.card.mb-3
            div.card-body
                h5.card-title Edit version #{version.version} of mod '#{mod.title}'
                if error
                    div.alert.alert-danger=error
                form(method='post' action=`/mods/${mod.id}/${version.version}/edit`)
                    div.form-group
                        label(for='version') Mod version
                        input(type='text' placeholder='2.0' name='version' aria-describedby='versionHelp' maxlength='64' value=version.version disabled='disabled').form-control#version
                        small.text-muted#versionHelp You can not change version numbers. Please
                            |  #[a(href=`/mods/${mod.id}/addversion`) add a new version] if you need a new version name.
                    .form-group
                        label(for='min-rml-version') Minimum RML version
                        .input-group
                            select(name='minCompatibleRmlVersion')#min-rml-version.custom-select
                                option(disabled selected=(formContents.minCompatibleRmlVersion ? 'selected' : 'false')) Please select a version...
                                each rmlVersion, index in rmlVersions
                                    option(value=rmlVersion.rmlVersion selected=(formContents.minCompatibleRmlVersion == rmlVersion.rmlVersion))=`RaftModLoader ${rmlVersion.rmlVersion} for Raft ${rmlVersion.raftVersion}`
                            .input-group-prepend.input-group-append
                                span.input-group-text -
                            select(name='maxCompatibleRmlVersion')#max-rml-version.custom-select
                                option(disabled selected=(formContents.maxCompatibleRmlVersion ? 'selected' : 'false')) Please select a version...
                                each rmlVersion, index in rmlVersions
                                    option(value=rmlVersion.rmlVersion selected=(formContents.maxCompatibleRmlVersion == rmlVersion.rmlVersion))=`RaftModLoader ${rmlVersion.rmlVersion} for Raft ${rmlVersion.raftVersion}`
                        .form-check.form-check-inline
                            label.form-check-label.mr-3 
                                small.text-muted Definite version cap?
                            input(type='checkbox' checked=formContents.definiteMaxCompatibleRmlVersion name='definiteMaxCompatibleRmlVersion')#definite-version-cap
                    div.form-group
                        label(for='changelog') Changelog
                        textarea(placeholder=' * Fixed this.\n * Added that.' name='changelog' aria-describedby='changelogHelp' required='required').form-control#changelog=formContents.changelog
                        small.text-muted#changelogHelp A changelog for this version.
                    div.form-group
                        label(for='downloadUrl') Download URL
                        input(type='url' placeholder='https://example.com/version-2.dll' name='downloadUrl' aria-describedby='downloadUrlHelp' value=formContents.downloadUrl disabled='disabled').form-control#downloadUrl
                        small.text-muted#downloadUrlHelp You can not change the version files. Please
                            |  #[a(href=`/mods/${mod.id}/addversion`) add a new version] if you need a new version name.
                    div.custom-file.my-3
                        label(for='file').custom-file-label Release binary file
                        input(type='file' name='file' aria-describedby='fileHelp' disabled='disabled').custom-file-input#file
                        small.text-muted#fileHelp You can not change the version files. Please
                            |  #[a(href=`/mods/${mod.id}/addversion`) add a new version] if you need a new version name.
                    hr
                    input(type='submit' value='Submit mod version').btn.btn-success
                    button(type='button' data-toggle='collapse' data-target='#preview' aria-expanded='false' aria-controls='preview').mx-1.btn.btn-outline-primary Preview mod page
                    a(href=`/mods/${mod.id}/versions`).btn.btn-outline-danger Discard changes
        ul
            li #[a(href=`/mods/${mod.id}`) Go back to the mod's page]
    include version-preview
