mixin bundle-card(bundle)
    .card.mod-card
        img(src='/images/banner-default.jpg', data-src=bundle.bannerImageUrl, alt=`banner image for the ${bundle.title} mod bundle`).card-img-top.lazy-image
        .card-body
            h5.card-title
                b #{bundle.title} #[small.d-inline-block.text-muted by #[a(href=`/user/${bundle.maintainer.username}`).stretched-link-exception=bundle.maintainer.username]]
            p.card-text=bundle.description
        .pt-0.pb-3.card-footer.border-0.d-flex.justify-space-between
            a(href='/bundle/' + bundle.id).btn.btn-primary.mr-auto.stretched-link View mod bundle