extends ../layout

//- overwrite og tags for bundle pages
block seoTags
    meta(property='og:url' content=baseUrl+currentUrl)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${title} - Raft-Mods`)
    - var seoDescription = `Mod Bundle ${bundle.title} by ${bundle.maintainer.username}: ${bundle.description}`;
    meta(property='og:description' content=seoDescription)
    meta(property='og:image' content=`${baseUrl}/images/logo_square.png`)

    meta(name='description' content=seoDescription)

block content
    section.my-3
        h1=bundle.title
        p(style='max-width: 100%;')=bundle.description
    section.my-3
        div.row
            div.col-sm-9.my-3
                block bundleContent
            div.col-sm-3.my-3
                ul.list-group
                    li.list-group-item
                        a(href=`/bundle/${bundle.id}`)
                            b=bundle.title
                    li.list-group-item
                        i.fas.fa-user-circle
                        |
                        | by
                        |
                        span
                            a(href=`/user/${bundle.maintainer.username}`)=bundle.maintainer.username
                    if userIsAdmin || userIsBundleOwner
                        li.list-group-item
                            i.fas.fa-pencil-alt
                            | 
                            a(href=`/bundle/${bundle.id}/edit`) Edit this bundle
                    li.list-group-item
                        i.fas.fa-arrow-alt-circle-down.mr-2
                        a(href='/bundle/' + bundle.id + '/download') Download this bundle
