extends ../layout

block content
    section(style='top: 80px;').my-3.sticky-top
        if userIsAdmin
            div.alert.alert-info #[i.fas.fa-plus] As an admin you can #[a(href='/server/add') add a new server version] to this list.
    section
        div.jumbotron.bg-light
            .row
                .col-sm-1
                .col-sm-3.text-center
                    i.fas.fa-server.fa-10x
                .col-sm-8
                    h1 Dedicated Server
                    p.lead Have a world that all players can connect to at any time.
                    if versions.length === 0
                        a.btn.btn-success.btn-lg.disabled #[i.fas.fa-download.mr-2] Download not available
                    else
                        a(href=`/server/${versions[0].version}/download`).btn.btn-success.btn-lg #[i.fas.fa-download.mr-2] Download v#{versions[0].version} 
                            //- indicates a download from this site
                            if !versions[0].downloadUrl.startsWith('/server')
                                small: i.fas.fa-external-link-square-alt.mx-1
                        a(href=`/server/${versions[0].version}`).px-3 Changelog »
    section.my-5
        .row.text-center
            .col-sm-1
            .col-sm-3.p-5
                i.fas.fa-angle-double-up.fa-7x.m-3
                h5 Always online
                p.m-1.text-left
                    | Dedicated servers can be hosted on a dedicated server or VPS
                    |  and stay online, when you go offline.
            .col-sm-3.p-5
                i.fas.fa-bolt.fa-7x.m-3
                h5 Blazing fast
                p.m-1.text-left
                    | Dedicated servers are much faster as they do all the
                    |  computing for you, allowing your computer to focus on
                    |  graphics.
            .col-sm-3.p-5
                i.fas.fa-puzzle-piece.fa-7x.m-3
                h5 Extensible
                p.m-1.text-left
                    | Dedicated servers allow you to use plugins which can
                    |  modify the game's behaviour.
            .col-sm-1
    section.my-5
        h2 Frequently asked questions
        p We have put together a couple of questions that are asked all the
            |  time. If you have any further questions, please feel free to ask
            |  us on our #[a(href='/discord') Discord server].
        .card-deck.my-3
            .card
                .card-body.m-2
                    h5.mb-3: i Is RaftDedicatedServer an official project?
                    | No, this project is not affiliated with, endorsed by or
                    |  in any way associated with Redbeet Interactive or Raft.
            .card
                .card-body.m-2
                    h5.mb-3: i What is RaftDedicatedServer?
                    | RaftDedicatedServer allows you to host your Raft world on
                    |  a dedicated server or VPS, so that your computer doesn't
                    |  need to run for your friends to play in the world.
        .card-deck.my-3
            .card
                .card-body.m-2
                    h5.mb-3: i What are the requirements?
                    | To host a dedicated server, you need an additional copy of
                    |  Raft on Steam. You will also need a dedicated server or
                    |  VPS running Windows.
            .card
                .card-body.m-2
                    h5.mb-3: i Can I have server plugins?
                    | Server mods (plugins) support will be added in another
                    |  release further down the road. We will have to focus on
                    |  the stability of the server first.
    section.my-5
        h2 Other Versions
        p We strongly recommend you to use the latest version that is presented
            |  above. Support is only provided for that version. If you in any
            |  case have to use another version, you can find it in the list
            |  below. You can also find links to the versions' changelogs here.
            br
        div.wide-content
            table.table.table-hover
                thead.thead-light
                    tr
                        th(scope='col') Server version
                        th(scope='col') Raft Version
                        th(scope='col') Release date
                        th(scope='col') Download
                        th(scope='col') Release page
                tbody
                    if versions.length === 0
                        tr: td(colspan='5').text-center: i No dedicated server versions have been uploaded yet.
                    else
                        each ver, index in versions
                            tr(class=(index === 0 ? 'table-success' : ''))
                                th(scope='row')=ver.version
                                td=ver.raftVersion
                                td=new Date(ver.timestamp).toISOString().split('T')[0]
                                td
                                    a(href=`/server/${ver.version}/download`)
                                        | Download 
                                        //- indicates a download from this site
                                        if !ver.downloadUrl.startsWith('/server')
                                            small: i.fas.fa-external-link-square-alt.mx-1
                                td
                                    a(href='/server/' + ver.version) Link
